<!DOCTYPE html>
<html>
<head>
	<title>New project</title>
</head>
<body>
<form action="/projects" method="post">
	<table>
		<tr>
			<td>Name:</td>
			<td><input type="text" name="Name"></td>
		</tr>
		<tr>
			<td>Description:</td>
			<td><input type="text" name="Description"></td>
			<td></td>
		</tr>
		<tr>
			<td colspan="2"><input type="submit" value="Create Project"></td>
		</tr>
	</table>
</form>
<a href="/projects">Go Back</a>
</body>
</html>